body{
    margin: 0; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color: #283593; color: white; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px; 
    text-wrap: wrap;
}
.nav a{
    color: white; 
    text-decoration: none; 
    display: block;
    transition: all 0.3s ease-out;
}
.nav a:hover{
    color: #b2baf0; 
    transform: rotate(6deg);
}
.nav{
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex;
}
.nav li{
    margin-left: 10px; 
    font-size: 12px;
}
.hero{
    background-color: #c5c8e9; 
    padding: 60px 45px; 
    display: flex;
    justify-content: center;
}
.hero-inner{
    max-width: 760px; 
    margin: -30px 0;
}
.hero h1{
    font-weight: normal; 
    margin: 0; 
    color: #0c1d99; 
    text-shadow: 1px 2px 2px rgb(62, 62, 248);
}
.hero h3{
    color: #0c1d99; 
    margin-top: 1px;
    font-weight: bold; 
    margin: 0; 
}
.hero p{
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.6;
}
.button{
    background-color: #283593; 
    color: white; 
    padding: 9px 20px; 
    text-decoration: none;
    border-radius: 40px; 
    font-size: 1.18rem; 
    display: inline-block;
    box-shadow: 1px 2px 3px rgb(66, 66, 248);
}
.button:hover{
    background-color: #05116e;
}
.features{
    background-color: rgb(244, 244, 253); 
    padding: 30px 45px;
}
.features-inner{
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
}
.features-item h3{
    color: #0c1d99; 
    font-weight: normal; 
    margin: 0;
}
.features-item p{
    margin: 0; 
    line-height: 1.5; 
    color: black;
}
.btn{
     background-color: #283593; 
     color: white; 
     padding: 9px 20px; 
     text-decoration: none;
    border-radius: 40px; 
    font-size: 1.18rem;
    box-shadow: 1px 2px 3px rgb(66, 66, 248); 
    display: block; 
    width: fit-content;
    margin: 2rem auto; 
    text-align: center;
}
.btn:hover{
    background-color: #05116e;
}
.footer3{
    text-align: center; 
    color: #4d4a4a; 
    font-size: 0.7rem;
}
.footer1 h4{
    color: #0c1d99; 
    font-weight: bold; 
    margin: 10px 0 1px 0; 
}
.footer1 p{
    margin-top: -1px;
}
.footer{
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    padding: 3px 45px;
}
.footer1 p a{
    text-decoration: none;
    
}
.faq-container{
    margin-top: -28px;
    background-color: #c5c8e9; 
    padding: 60px 45px; 
    display: flex;
    justify-content: center;
}
.faq-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin: -40px 0;
}
.faq-inner h4{
    color: #0c1d99; 
    margin-top: 1px;
    font-weight: bold; 
    margin: 0; 
}
.faq-inner button {
    width: 100%;
    max-width: 500px;
    padding: 7px 20px;
    border: 1px;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
    text-align: left;
}